@import 'sanitize.css';
@import '~/assets/css/font-face-common.css';
@import '~/assets/css/font-face-kinto-regular.css';
@import '~/assets/css/font-face-kinto-bold.css';
@import '~/assets/css/custom-properties.css';
@import '~/assets/css/custom-media.css';

html {
  /*
    Fluid Typography
    font-size: calc(
      [minimum size] +
      ([maximum size] - [minimum size]) *
      (
        (100vw - [minimum viewport width]) /
        ([maximum viewport width] - [minimum viewport width])
      )
    );
  */

  font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (800 - 375)));
  background-color: var(--color-bg);
  -webkit-tap-highlight-color: initial;

  @media (--pc) {
    font-size: 20px;
  }

  @media (--sp-small) {
    font-size: 16px;
  }
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: 400;
  line-height: var(--lineHeight);
  color: var(--color-text);
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  & ::-moz-selection {
    color: var(--color-bg);
    background-color: var(--color-accent);
  }

  & ::selection {
    color: var(--color-bg);
    background-color: var(--color-accent);
  }

  @media (--retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

h1 {
  font-size: var(--fontSize-h1);
}

h2 {
  font-size: var(--fontSize-h2);
}

h3 {
  font-size: var(--fontSize-h3);
}

h4,
h5,
h6 {
  font-size: var(--fontSize);
}

:any-link {
  display: inline-block;
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent);

  /* stylelint-disable-next-line csstools/media-use-custom-media */
  @media (hover) {
    cursor: pointer;

    &:hover {
      color: var(--color-accent) !important; /* ignore override on post-title */
      text-decoration-style: wavy;
    }
  }
}
