:root {
  /* color */
  --color-bg: #fff;
  --color-text: #000;
  --color-link: #00f;
  --color-caption: #a9a9a9;
  --color-imageBg: #f5f5f5;

  /* typography */
  --fontFamily:
    'Neue Frutiger',
    YakuHanJPs,
    YakuHanJP,
    'Kinto Sans',
    system-ui,
    sans-serif;
  --fontSize: 1rem;
  --fontSize-title: 1.6rem;
  --fontSize-small: 0.8rem;
  --lineHeight: 1.9;
  --lineHeight-title: 1.6;

  /* margin */
  --margin-site: 0.9375rem; /* 15px */
  --margin-paragraph: 3.125rem; /* 50px */

  /* other */
  --radius-image: 0.1rem;
}
