:root {
  /* color */
  --color-bg: #fff;
  --color-text: #000;
  --color-link: #ffc700;
  --color-caption: #bfbdb6;
  --color-border: #f2f2f0;

  /* typography */
  --fontFamily:
    'Neue Frutiger',
    YakuHanJPs,
    YakuHanJP,
    'Kinto Sans',
    system-ui,
    sans-serif;
  --fontFamily-code: Menlo, Monaco, 'Courier New', Courier, monospace;
  --fontSize: 1rem;
  --fontSize-h1: 1.5rem;
  --fontSize-h2: 1.3rem;
  --fontSize-h3: 1.1rem;
  --fontSize-small: 0.8rem;
  --fontSize-code: 0.9rem;
  --lineHeight: 1.5;
  --lineHeight-content: 1.85;
  --lineHeight-code: 1.5;

  /* size */
  --max-width-site: 800px;
  --margin-site: 0.625rem;
  --margin-content: 2.5rem;
  --margin-post: 2.2rem;

  /* other */
  --radius-image: 0.1rem;
}
