@font-face {
  font-family: 'Neue Frutiger';
  font-weight: normal;
  src:
    local('FrutigerNeueLTPro-Book'),
    url('~assets/fonts/NeueFrutiger-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Frutiger';
  font-weight: bold;
  src:
    local('FrutigerNeueLTPro-Bold'),
    url('~assets/fonts/NeueFrutiger-Bold.woff2') format('woff2');
}

@font-face {
  font-family: YakuHanJPs;
  font-weight: 400;
  src: url('~assets/fonts/YakuHanJPs-Light.woff2') format('woff2');
}

@font-face {
  font-family: YakuHanJP;
  font-weight: 400;
  src: url('~assets/fonts/YakuHanJP-DemiLight.woff2') format('woff2');
}

@font-face {
  font-family: YakuHanJP;
  font-weight: 700;
  src: url('~assets/fonts/YakuHanJP-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  src:
    local('Noto Sans Japanese Regular'),
    local('NotoSansJapanese-Regular'),
    url('~assets/fonts/NotoSansCJKjp-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  src:
    local('Noto Sans Japanese Bold'),
    local('NotoSansJapanese-Bold'),
    url('~assets/fonts/NotoSansCJKjp-Bold.woff2') format('woff2');
}
